        <h1>
            {{title}}
        </h1>
        <h2>Counter Form (from template) </h2>
        <p>Your count is: <strong>{{count}}</strong>.</p>
        <form method='post' action='/upSession'>
            <button type="submit">Count Up</button>
        </form>
        <form method='post' action='/downSession'>
            <button type="submit">Count Down</button>
        </form>
        <p><a href="">&#x21bb;&nbsp;Reload</a></p>
        <p><a href="/">Home</a></p>
