<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<style>
			body {
				font-family: Arial, sans-serif;
			}
		</style>
	</head>
	<body>
        <h1>
            {{title}}
        </h1>
        <h2>Counter Form (from template) </h2>
        <p>The global FormCount is currently at: <strong>{{count}}</strong>.</p>
        <form method='post' action='/up'>
            <button type="submit">Count Up</button>
        </form>
        <form method='post' action='/down'>
            <button type="submit">Count Down</button>
        </form>
        <p><a href="">&#x21bb;&nbsp;Reload</a></p>
        <p><a href="/">Home</a></p>
	</body>
</html>
