
        <h1>
            {{title}}
        </h1>
        <h2>You are Member of Team  <strong>{{team}}</strong></h2>
        <p>Your Teams Count is: <strong>{{count}}</strong>.</p>
        <form method='post' action='/counterRaceRoundTrip'>
            <button type="submit">Count One Up</button>
        </form>
        <p><a href="">&#x21bb;&nbsp;Reload</a></p>
        <p><a href="/">Home</a></p>
