		<h1>
			{{title}}
		</h1>
        <h2>Dynamic Template Page</h2>
        <p>The global page-request counter is currently at <strong>{{count}}</strong>.</p>
        <p><a href="">&#x21bb;&nbsp;Reload</a></p>
        <p><a href="/">Home</a></p>
